header {
  height: 70px;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.option_nav{
  display: inline-flex;
  align-items: center;
  gap: 74px; 
  float: right;
}
.option_nav a{
  font-size: 16px;
color: #242424;
font-weight: 400;
font-family: "Roboto";
text-decoration: none;
}
.searsh_icon{
  width: 19.815px;
  height: 20px;
 display: inline;   
}
.w-100{
  width: 80% !important;
  float: right;
}
.txt-img{
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 margin-top: 200px;
  background: #ffffff;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(25px);
    opacity: 0.8;
}
.txt-img h1{
  width: 372px;
height: 216px;
font-size: 54px;
letter-spacing: -1px;
line-height: 72px;
color: #244d4d;
font-weight: 700;
font-family: "Roboto";
}
.txt-img h5{
  font-size: 20px;
line-height: 30px;
color: #5f5f64;
font-weight: 400;
font-family: "Roboto";
}
.carousel-control-next-icon{
  background-image: url(img/next.png);
}
.carousel-control-prev-icon{
  background-image: url(img/prev.png) ;
}
.carousel-control-prev{
  /* left: 1041px; */
  opacity: 1;
  /* top: -200px; */
  padding: 10px;
  width: auto !important;
  left: 100%;
  top: -40%;
}
.carousel-control-next {
  position: absolute;
  opacity: 1;
  /* right: -115px;
  top: -200px; */
  width: auto !important;
  right: -6%;
  top: -40%;
  
}

.carousel-indicators{
  display: none;
}
.farm{
  margin-top: 80px;
}
.farm h1{
  font-size: 50px;
line-height: 50px;
color: #244d4d;
font-weight: 400;
font-family: "Roboto";
}
.farm h5{
  font-size: 16px;
line-height: 26px;
color: #5f5f64;
font-weight: 400;
font-family: "Roboto";
}
.farm h4{
  font-size: 20px;
  line-height: 28px;
  color: #3d3d3f;
  font-weight: 700;
  font-family: "Roboto";
}
.farm h5{
  font-size: 16px;
line-height: 26px;
color: #5f5f64;
font-weight: 400;
font-family: "Roboto";
}
.combinaison{
  background: #F4F6F6;
    /* display: flex; */
 
height: 205px;
padding: 55px 240.28px 55.016px 240px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 60px;
margin-bottom: 60px;
}
.topograph{
  font-size: 20px;
letter-spacing: 2px;
color: #031745;
font-weight: 400;
font-family: "Roboto";
text-align: center;
display: inline-block;
align-items: center;
  justify-content: center;
  margin-left: 34%;
}
.microsoft{
  fill: #A1A6BA;
  width: 116.667px;
height: 24.991px;
flex-shrink: 0;
margin: 25px;
}
.entrepreur{
  fill: #A1A6BA;
  width: 127.632px;
height: 24.991px;
flex-shrink: 0;
margin: 25px;
}
.fortune{
  fill: #A1A6BA;
  width: 120.377px;
height: 19.993px;
flex-shrink: 0;
margin: 25px;
}
.business{
  fill: #A1A6BA;
  width: 92.5px;
  height: 29.989px;
  flex-shrink: 0;
  margin: 25px;
}
.mashable{
  fill: #A1A6BA;
  width: 102.545px;
  height: 17.994px;
  flex-shrink: 0;
  margin: 25px;
}
.img_down{
  position: absolute;
  /* opacity: 0.9; */
  left: 992px;
  bottom: -15px;
  opacity: 0.5;
width: 124px;
height: 124px;
background-color: #9b9b9b;
}
.titre{
  display: inline-block !important;
}
/* ********************************************* */
.text_abt h2 {
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
  font-weight: 700;
  font-family: "Roboto";
}
.text_abt h5{
  font-size: 20px;
line-height: 32px;
color: #64717c;
font-weight: 400;
font-family: "Roboto";
}
/* .about_section button {
  width: 165px;
height: 54px;
border-radius: 5px;
filter: drop-shadow(0px 2px 3.5px rgba(36,77,77,0.02));
background-color: #f4f6f6;
font-size: 18px;
color: #5f5f64;
font-weight: 400;
font-family: "Roboto";
text-align: center;
display: flex;
align-items: center;
justify-content: center;
float: right;
 
border: none !important;
} */
.btn_abt{
  width: 165px;
height: 54px;
border-radius: 5px;
filter: drop-shadow(0px 2px 3.5px rgba(36,77,77,0.02));
background-color: #f4f6f6;
font-size: 18px;
color: #5f5f64;
font-weight: 400;
font-family: "Roboto";
text-align: center;
display: flex;
align-items: center;
justify-content: center;
float: right;
border: none !important;
margin-right: 10%;
margin-top: 10% !important;
}
.left__content{
  width: auto !important;
  margin-top: 70px;
  display: grid !important;
  gap: 5%;
  grid-template-columns: repeat(2,1fr) !important;
  grid-template-rows: repeat(2,1fr) !important;
}
 .gridContent{
  display: flex !important;
  flex-direction: column ;
 }
.gridContent h3{
  font-size: 58px;
color: #244d4d;
font-weight: 700;
font-family: "Roboto";
margin-top: 50px;
}
.gridContent h4{
  font-size: 24px;
color: #244d4d;
font-weight: 700;
font-family: "Roboto";
margin: 20px 0 5px 0;
}
.gridContent p {
  font-size: 16px;
  line-height: 24px;
  color: #64717c;
  font-weight: 400;
  font-family: "Roboto";
}
.right_content{
  width: 40%;
  margin-top: 70px;

}
/* ******************************************* */
.btn_carousel_animation{
  width: auto !important;

}
.btn_arrow{
  
  
  opacity: 1;
  /* background-color: red; */
  float: right !important;
  display: flex;
  margin-top: -6%;
  position: absolute;
  left: 79%;
  opacity: 0.400;
width: 124px;
height: 124px;
background-color: #9b9b9b;

}
.clt_mtn{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.img_abt{
  margin-top: 15%;
  width: 100%;
  height: auto !important;
}
footer {
  background-color: #244d4d;
  padding-top: 7%;
}
.foot_txt{
  font-size: 45px;
line-height: 60px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
margin-bottom: 40px;
}
.btn_contact {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

 
  border-radius: 30px;
   

  font-size: 19px;

font-weight: 500;
font-family: "Roboto";
text-align: center;
}
.about__section{
  margin-bottom: 5%;
}
.btn_container{
  display: flex;
  gap: 5%;
}
.cont{
  background-color: #3a5f5f;
  color: #fcfbff;
}
footer span {
  font-size: 17px;
color: #ffffff;
font-weight: 500;
font-family: "Roboto";
margin-bottom: 105px;
}
footer a {
  font-size: 15px;
color: #eeeeee;
font-weight: 400;
font-family: "Inter";
text-decoration: none;
}
footer li {
  list-style: none ;
  text-decoration: none;
  gap: 15px;
  margin-top: 5px;
}
.footer-txt1{
  font-size: 26px;
color: #ffffff;
font-weight: 700;
font-family: "Noto Serif JP";
margin-bottom: 10%;
}
.footer_txt2{
  font-size: 15px;
line-height: 27px;
color: #eeeeee;
font-weight: 400;
font-family: "Roboto";
}
.foot-tit-tab{
 
  margin-left: 30px;
}

